# Git LFS - Binary Files
*.lib filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
/Mundi/ThirdParty/FBXSDK/lib/debug/alembic-md.lib filter=lfs diff=lfs merge=lfs -text
/Mundi/ThirdParty/FBXSDK/lib/debug/alembic-mt.lib filter=lfs diff=lfs merge=lfs -text
/Mundi/ThirdParty/FBXSDK/lib/debug/alembic.lib filter=lfs diff=lfs merge=lfs -text
/Mundi/ThirdParty/FBXSDK/lib/debug/libfbxsdk-md.lib filter=lfs diff=lfs merge=lfs -text
/Mundi/ThirdParty/FBXSDK/lib/debug/libfbxsdk-mt.lib filter=lfs diff=lfs merge=lfs -text
/Mundi/ThirdParty/FBXSDK/lib/release/libfbxsdk-md.lib filter=lfs diff=lfs merge=lfs -text
/Mundi/ThirdParty/FBXSDK/lib/release/libfbxsdk-mt.lib filter=lfs diff=lfs merge=lfs -text
